<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/contacto.css' %}">
    <title>Contacto</title>
</head>
<body>

    <header class="p-3 bg-dark text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{% url 'home' %}" class="navbar-brand text-white">
              <img width="30px" height="30px" class="d-inline-block" src="{% static 'img/maletas.png' %}">
              Turismo Real
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="{% url 'reserva' %}" class="nav-link px-2 text-white">Reserva</a></li>
              <li><a href="{% url 'mantencion' %}" class="nav-link px-2 text-white">Mantención</a></li>
              <li><a href="{% url 'contacto' %}" class="nav-link px-2 text-primary">Contacto</a></li>
            </ul>
            </div>
          </div>
        </div>
      </header>

    <form action="" method="post" class="formulario">
        <div class="formularioContacto">

            {% csrf_token %}
            
            {{ form }}
            
            <button type="submit" class="enviar">Enviar formulario</button>
            
        </div>
    </form>
</body>
</html>