{% extends 'paginas/base.html' %}

{% load static %}


{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'app/css/reserva.css' %}">
{% endblock %}

{% block contenido %}

  <div id="loguearse" class="w-40 m-auto pt-5 pb-5">
    <div id="cardLogin" class="card text-center m-auto w-90">
        <div id="back-login" class="card-header">
          Contacto
        </div>
        <div class="card-body w-75 m-auto">
            {% load crispy_forms_tags %}
            <form action="" method="post">
                <div class="formularioRegistro">
                    
                    {% csrf_token %}
                    
                    {{ form | crispy }}
                    
                    <div class="login">
                        <button type="submit" class="enviar"><a class="link" href="{% url 'completado' %}">Enviar</a></button>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
  </div>

{% endblock %}