{% extends 'paginas/base.html' %}

{% block contenido %} 

  <section class="py-5 text-center fondo">
    <div class="infoEmpresa">
      <img class="imgFondo" src="https://i.ibb.co/cYkWGVX/Opacado.png" alt="" height="250px">
      <div class="titulo">Bienvenidos a turismo real</div>
      <div class="descripcion">En Tursimo Real llevamos 10 años ayudando a los chilenos y a quienes viven en nuestro país a encontrar su nuevo departamento. En nuestra página puedes encontrar departamentos los cuales podrán arriendar por temporada si así gustan. Gracias a la confianza de usuarios, corredores e inmobiliarias, somos la página número uno en calidad de contactos y cantidad de visitas.</div>
    </div>
  </section>

  <div id="container-cards" class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Southmoor_Apartment_Hotel.jpg/1200px-Southmoor_Apartment_Hotel.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Departamento 1</h5>
          <p class="card-text">Edificio Lomas del Mar se encuentra muy cerca de las playas y a poca distancia del circuito de restaurantes Costeros.</p>
          <a href="{% url 'departamento1' %}" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Actualizado hace 7 días</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://www.realestate.com.au/blog/images/2000x1500-fit,progressive/2021/05/31104218/Hero-2-2000x1500-1.jpg
        " class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Departamento 2</h5>
          <p class="card-text">Edificio Lomas del Mar se encuentra muy cerca de las playas y a poca distancia del circuito de restaurantes Costeros.</p>
          <a href="{% url 'departamento2' %}" id="cambiar" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Actualizado hace 4 días</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://pix10.agoda.net/hotelImages/268/2681691/2681691_17090506540055966592.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Departamento 3</h5>
          <p class="card-text">Edificio Lomas del Mar se encuentra muy cerca de las playas y a poca distancia del circuito de restaurantes Costeros.</p>
          <a href="{% url 'departamento3' %}" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Actualizado hace 1 día</small>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <p class="text-muted">&copy; Turismo Real 2017 – 2021</p>
  </div>

{% endblock %}