{% extends 'paginas/base.html' %}

{% load static %}
{% block contenido %} 

    {% block css %}
        <link type="text/css" rel="stylesheet" href="{% static 'app/css/departamentos.css' %}">
    {% endblock %}

    
 
    <div class="container2">
        <div class="card" style="width: 450px; height: 750px; font-size: 13px;">
            <img src="https://www.realestate.com.au/blog/images/2000x1500-fit,progressive/2021/05/31104218/Hero-2-2000x1500-1.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h3 class="card-title" style="text-align: center;">Departamento 2</h3>
                <br>
                <p class="card-text"><strong>Características y terminaciones:</strong> Porcelanato gres. Ventanas termopanel sobre marcos de PVC color blanco. Cocina equipada con campana, horno eléctrico, encimera vitrocerámica y cubierta de granito. Conexión para lavadora. Cortinas roller y equipo de iluminación.</p>
                <p><strong>Equipamiento comunitario:</strong> Sala multiuso, salón gourmet, sala de juegos para niños, lavandería y gimnasio. Piscina y quinchos panorámicos, bicicleteros, cámaras de seguridad y accesos controlados por sistema biométrico con lector de huella digital.</p>
                <p><strong>Valor: $400.000 pesos.</strong></p>
                <p><span style="color: red;"><strong>*EL VALOR NO INCLUYE BODEGA NI ESTACIONAMIENTO.</strong></span></p>
                <a href="{% url 'reserva' %}" class="btn btn-primary">Reservar departamento</a>
                <a href="{% url 'home' %}" class="">Volver</a>
            </div>
        </div>
    </div>
{% endblock %}