#fotoFondo {
    background: url("https://i.ibb.co/BCp2jp5/apartment-1851201.jpg") center;
    background-size: cover;
    width: 100%;
    color: white;
    height: 400px;
}

.imgFondo{
    opacity: 0.8;
    width: 100%;
}

.infoEmpresa {
    position: relative;
    display: inline-block;
    text-align: center;
    padding-top: 20px;
}

.titulo {
    position: absolute;
    font-size: 28px;
    top: 10%;
    left: 28%;
    right: 28%;
}

.descripcion {
    position: absolute;
    top: 38%;
    left: 5%;
    right: 5%;
}

#container-cards {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    justify-content: center;
    align-content: center;
    max-width: 1000px;
    margin: auto auto;
}

.card-text {
    text-align: justify;
}

#btnLoginRegister {
    color: white;
}

.copyright {
    background-color: rgb(255, 231, 133);
    height: 50px;
    text-align: center;
    padding-top: 15px;
}

@media (min-width:319px) and (max-width:412px) {
    .titulo {
        font-size: 21px;
    }

    .descripcion {
        font-size: 12.5px;
    }
}

@media (min-width:413px) and (max-width:455px) {
    .titulo {
        font-size: 22px;
    }

    .descripcion {
        font-size: 14.5px;
    }
}

@media (min-width:274px) and (max-width:319px) {
    .titulo {
        font-size: 15px;
    }

    .descripcion {
        font-size: 11.5px;
    }
}

@media (max-width:274px) {
    .titulo {
        font-size: 15px;
    }

    .descripcion {
        font-size: 12px;
    }
}
